<nav class="navbar">
        <div class="navbar-brand">
          <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      
        <div id="navbarExampleTransparentExample" class="navbar-menu">
          <div class="navbar-start">
              <a href="/hire-me" class="is-size-6 navbar-item">💻 Need Development Help?</a>
      
      
          </div>
      
          <div class="navbar-end">
      
                        <a class="nav-home navbar-item is-size-6" href="/">
             Home
            </a>
                        <a class="nav-about navbar-item is-size-6" href="/about">
             About
            </a>
                        <a class="nav-twitter navbar-item is-size-6" href="https://twitter.com/ronaldlangeveld">
             Twitter
            </a>
                        <a class="nav-github navbar-item is-size-6" href="https://github.com/ronaldlangeveld">
             Github
            </a>
                        <!-- <a class="nav-subscribe navbar-item is-size-7" href="https://ronaldlangeveld.com/subscribe/">
             Subscribe
            </a> -->
      
          </div>
        </div>
      </nav>