---
layout: default
---

<section class="section">

    <div class="container">


<br>

        <div class="columns is-centered">

            <div class="column is-two-thirds">
                    <time class="is-size-7 has-text-weight-light">{{ page.date | date: "%-d %B %Y"}}</time>
                    <br>
                                        <h2 class="title is-2">{{ page.title }}</h2>
                     
                    <img style="width: 100%" src="{{ page.feature-img }}" alt="">

            </div>

        </div>

        <div class="columns is-centered">

            <div class="column is-half">

<br>
                    <div class="content is-medium">
                    {{ content }}
                    
                    </div>

                    <!-- <h1 class="is-size-6">by {{page.author}}</h1> -->
                    <br>
                    <p class="subtitle is-6"><a href="/">Back to article list</a></p>
            </div>

        </div>

    </div>

</section>

<a target="_blank" rel="noopener" class="levelsio-by" href="https://twitter.com/ronaldlangeveld"><img src="https://res.cloudinary.com/cinemakers/image/upload/v1540374779/blog/7579708.jpg" /><p>by Ronald Langeveld</p></a>
